/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/
/app/
/bootstrap/
/config/
/database/
/resource/
/routes/
/storage/
/public/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
phpunit.xml
server.php
webpack.mix.js
styleci.yml
artisan
post.html
project1.php
.editorconfig
